/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding-top: 0px;
}

.container {
  margin-top: 30px;
}


h2 {
  font-size: 24px;
  font-weight: 300;
  justify-self: center;
}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0px;
  margin-top: 0px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.main-content__title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 8px;
  display: flex;
  margin: 0 auto;

}

.main-content__article {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: center;
  padding-bottom: -15px;
  margin-left: -80px;
  line-height: 200%;
}


a {
  color: #357b70;
}

a:visited {
  /* Visited links */
  color: #05676e;
}

a:hover,
a:focus {
  /* No underlining when hovering over the links */
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

a:active {
  /* Selected link */
  color: undefined;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #68829e;
  color: white;
  text-decoration: none;
  padding: 8px;
  margin-top: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  margin-top: 20px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button {
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}



.profile__portrait {
  float: left;
  width: 50%;
  height: auto;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: lightslategrey;
  padding: 10px;
  margin-top: 50px;
  opacity: 0.9;
  
  
  
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box-sizing;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: end;
}



.navigation-list li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 20px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  font-size: 22px;
  font-weight: 100;
  
}


.navigation-list__item--active {
  text-decoration: underline;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

textarea {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

input {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

  h1 {
    font-size: 22px;
  }
  .page-header__item:last-child {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    text-align: right;
  }

.page-header {
  width: 100%;
  
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

/*card {
  border-width: solid 0.1px;
  border-style: double;
  border-color: royalblue;
  margin: 30px;
  box-sizing: none;
  margin-left: 50px;
  margin-right: 50px;
  justify-items: center;
  align-items: center;
}*/

.row {
  display: flex;
  margin: 0 auto;
}

.social-media__icons {
  margin-top: -18px;
}