/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {  
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 200%;
  padding-top: 0px;
}

h2 {
  font-size: 24px;
  font-weight: 300;
  justify-self: center;
  text-transform: uppercase;
}

h5 {
  padding-top: 5px;
  text-align: center;
  text-transform: uppercase;
}

.title-container {
  display: flex;
  justify-content: center;
  align-content: center;
  padding-top: 0px;
  margin-top: 0px;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.main-content__title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding-bottom: 20px;
  padding-top: 8px;
  display: flex;
  margin: 0 auto;
}

.main-content__article {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  align-content: center;
  line-height: 200%;
}

a {
  color: #357b70;
}

a:visited {
  /* Visited links */
  color: #05676e;
}

a:hover,
a:focus {
  /* No underlining when hovering over the links */
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

a:active {
  /* Selected link */
  color: undefined;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: #68829e;
  color: white;
  text-decoration: none;
  padding: 8px;
  margin-top: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.profile__portrait {
  float: left;
  width: 60%;
  height: auto;
  border-radius: 50%;  
  margin-left: -150px;
  margin-top: 50px;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  opacity: 0.9;
  margin-top: 35px;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box-sizing;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: end;
}

.navigation-list li {
  display: inline-block;
  margin-left: 40px;
  margin-top: 30px;
  margin-right: 20px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
  font-size: 22px;
  font-weight: 100;  
}

.navigation-list__item--active {
  text-decoration: underline;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-top: 40px;
}

textarea {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

input {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
  
.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.page-header {
  width: 100%;
  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
}

.card {
  border-width: solid 0.1px;
  border-color: lightslategray;
  margin: 0 auto;
  box-sizing: border-box;
  justify-items: center;
  align-items: center;
  height: 100%;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
}

.row {
  display: flex;
  margin: 0 auto;
  margin-top: 5px;
}

.footer-icons {
  margin-left: 20px;
}

.card-img-top {
  width: 80%;
  height: 40%;
  padding-top: 5px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  
}

#contact-email {
  padding: 10px;
}

#contact-tel {
  padding: 10px;
}

#contact-message {
  padding: 10px;
}

.send-message {
  padding: 10px;
  width: 250px;
  margin: 0 auto;
}