/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v7.0.29,
* Autoprefixer: v9.7.6
* Browsers: last 4 version
*/

body {
  background-color: #d8f1e6;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.6;
}

h1 {
  font-size: 30px;
  font-weight: 700;
}

h2 {
  font-size: 24px;
  font-weight: 700;
}

h3 {
  font-size: 18px;
  font-weight: 700;
}

.main-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
}

.main-content__title {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.main-content__article {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin: 0 auto;
  padding: 0 100px;
}

table,
th,
td {
  border: 1px solid black;
  margin: 25px auto;
  width: 75%;
  border-collapse: collapse;
  table-layout: fixed;
}

thead {
  background-color: lightblue;
}

tbody {
  background-color: lightgrey;
}

a {
  color: #357b70;
}

a:visited {
  /* Visited links */
  color: #05676e;
}

a:hover,
a:focus {
  /* No underlining when hovering over the links */
  text-decoration: none;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

a:active {
  /* Selected link */
  color: undefined;
}

button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: thistle;
  color: #357b70;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

.button {
  border: none;
  display: inline-block;
  font-family: inherit;
  background-color: thistle;
  color: #357b70;
  text-decoration: none;
  padding: 10px;
  border-radius: 3px;
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

button {
  margin-top: 20px;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
  cursor: pointer;
  opacity: 0.8;
}

.button {
  width: 150px;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

.navigation-list__item--active {
  text-decoration: none;
}

.profile__portrait {
  float: left;
  width: 50%;
  height: auto;
  margin-right: 40px;
  border-radius: 50%;
}

.page-footer {
  clear: both;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.profile {
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.page-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  padding: 20px;
}

.page-header__item {
  -webkit-box-flex: 0;
  -ms-flex: 0 1 200px;
  flex: 0 1 200px;
  border-bottom: 1px solid black;
}

.navigation-list {
  list-style-type: none;
}

.page-header__item--logo {
  float: right;
  margin: 10px;
  width: 20%;
  height: 7%;
}

.page-header__item:last-child {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: right;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
  -webkit-transition: 0.2s opacity;
  -o-transition: 0.2s opacity;
  transition: 0.2s opacity;
}

/* start grid fallback */
.grid__item {
  display: inline-block;
  width: 33%;
}

/* end grid fallback */
@supports (display: grid) {
  .grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
  }
}

.grid__item {
  background-color: lightgrey;
  padding: 15px;
  width: auto;
  min-height: auto;
  margin: 0;
}

form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

textarea {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

input {
  width: 50%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  align-self: center;
}

@media all and (max-width: 500px) {
  .grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
}

@media all and (min-width: 500px) and (max-width: 750px) {
  .grid {
    -ms-grid-columns: 1fr 20px 1fr;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 750px) {
  .grip {
    grid-gap: 10px;
  }

  .grid__item:last-child {
    grid-column: auto / auto;
    grid-row: auto / auto;
  }

  h1 {
    font-size: 22px;
  }
}
